body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.scroll {
  height: 100%;  
  text-align: left;
  padding: 20px;
  overflow-y:auto;
  scrollbar-width: none;
  margin: 0 auto;
}
div.pokertable{
  border-start-start-radius: 10px 10px;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  border-color: brown;
  border: 2px solid;
  text-align: left;
  height: 100%;
  width: 100%;
  overflow-y:auto;
  /* scrollbar-width: none; */
  margin: 150px auto;

}
td.numeric{
  text-align: right;
  padding: 2px;
}
td.rightborder{
  text-align: center;
  border-right: 1px solid;
}
td.leftborder{
  text-align: center;
  border-right: 1px solid;
}
td.text{
  text-align: left;
  padding: 2px;
}

table.pokertable{
  background-image: url("../public/images/donkey_button.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-blend-mode: lighten;
  border: 1px solid;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y:auto;
  scrollbar-width: none;
  margin: 0 auto;

}

table.pokertableseat{
  width: 90px;
  height: 75;
  border: 2px;
  border-start-start-radius: 10px 10px;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  border-color: brown;
  border-style: solid;
  text-align: center;
  padding: 2px;
  width: 75;
  height: 20;
  font-size: 12pt;
  font-family: serif;
  margin: 0 auto;
}
table.pokertableseatbutton{
  width: 90px;
  height: 75;
  border: 2px;
  border-start-start-radius: 10px 10px;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  border-color:red;
  background-color:gold;
  border-style: solid;
  text-align: center;
  padding: 2px;
  width: 75;
  height: 20;
  font-size: 12pt;
  font-family: serif;
  margin: 0 auto;
}
table.centercontent{
  margin: 0 auto;
}
table.menu{
  width: 100%;
  border: 1px solid;
}
table.pokertableboard{
  height: 75;
  border: 2px;
  border-start-start-radius: 5px 5px;
  border-start-end-radius: 5px 5px;
  border-end-end-radius: 5px 5px;
  border-end-start-radius: 5px 5px;
  border-style: solid;
  padding: 5px;
  height: 20;
  margin: 0 auto;
}
table.pokertableboarddesc{
  background-color: bisque;
  height: 75;
  border: 2px;
  border-start-start-radius: 10px 10px;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  /* writing-mode: vertical-rl; */
  border-style: solid;
  padding: 5px;
  height: 20;
  margin: 0 auto;
}
table.pokertablerabbit{
  height: 75;
  border: 2px;
  border-start-start-radius: 5px 5px;
  border-start-end-radius: 5px 5px;
  border-end-end-radius: 5px 5px;
  border-end-start-radius: 5px 5px;
  border-style: solid;
  border-color:darkorange;
  padding: 5px;
  height: 20;
  margin: 0 auto;
}
table.tabledef{
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: green;
}
img.boardcard{
  height: 50px;
  width: 30px;
  background-color: white;
  border: 1px solid;
  border-start-start-radius: 5px 5px;
  border-start-end-radius: 5px 5px;
  border-end-end-radius: 5px 5px;
  border-end-start-radius: 5px 5px;
  padding: 5px;
}
img.rabbitcard{
  height: 50px;
  width: 30px;
  background-color: white;
  border: 1px solid;
  border-start-start-radius: 5px 5px;
  border-start-end-radius: 5px 5px;
  border-end-end-radius: 5px 5px;
  border-end-start-radius: 5px 5px;
  padding: 5px;
}
img.holecard{
  height: 30px;
  width: 20px;
  background-color: white;
  border: 1px solid;
  border-start-start-radius: 3px 3px;
  border-start-end-radius: 3px 3px;
  border-end-end-radius: 3px 3px;
  border-end-start-radius: 3px 3px;
  padding: 5px;
}
img.actionscard{
  height: 15px;
  width: 12px;
  background-color: white;
  border: 1px solid;
  border-start-start-radius: 3px 3px;
  border-start-end-radius: 3px 3px;
  border-end-end-radius: 3px 3px;
  border-end-start-radius: 3px 3px;
  padding: 5px;
}
div.divcenter{
  text-align: center;
  align-content: center;
}
.centered{
  margin: 0 auto;
}

.rightaligned{
  margin-right: 0;
  margin-left: auto;
}

.leftaligned{
  margin-left: 0;
  margin-right: auto;
}
span.street{
  text-align: left;
  color: darkblue;
  font-weight: bold;
  font-size: 12pt;
  text-decoration: underline;
  font-family: serif;
}
span.actionstitle{
  text-align: left;
  color: white;
  font-size: 12pt;
  font-family: serif;
}
span.actions{
  text-align: left;
  color: white;
  font-size: 12pt;
  font-family: serif;
  margin-left: 20px;
}
span.equitiestitle{
  text-align: left;
  color: white;
  font-size: 12pt;
  font-family: serif;
}
span.equities{
  text-align: left;
  color: white;
  font-size: 12pt;
  font-family: serif;
  margin-left: 20px;
}
td.seat{
  background-color: white;
  border-color: white;
  border: 2px;
  border-radius: 2%;
  border-style: solid;
  padding: 5px;
  margin: 0 auto;
}

td.profitpositive{
  background-color:lightgreen;
  border-color: green;
  border: 2px;
  border-start-start-radius: 10px 10px;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  border-style: solid;
  padding: 5px;
  margin: 0 auto;
}

td.profitnegative{
  background-color:lightcoral;
  border-color: red;
  border: 2px;
  border-start-start-radius: 10px 10px;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  border-style: solid;
  padding: 5px;
  margin: 0 auto;
}
tr.datatablegrey{
  background-color: lightgrey;
}
tr.datatablewhite{
  background-color: white;
}
p.tab {
   margin-left: 20px; 
}